//
// Component: Block
//
// ========================================================================


// Variables
// ========================================================================

@toolbar-background: #000;
@toolbar-color:            #a5a5a5;
@toolbar-link-color:       #a5a5a5;
@toolbar-height: 20px;

//
// ========================================================================

.tm-toolbar{
  ul{
    margin: 0;
  }
  li{
    display: block;
    width: auto;
    float: left;
    margin-left: 5px;
    height: @toolbar-height;
    line-height: @toolbar-height;
  }
  i{
    float: none;
    margin: 0 5px;
  }
  //#gradient > .vertical(lighten(@toolbar-background, 20%), @toolbar-background);
  background-color: @toolbar-background;
  border-bottom: solid 1px lighten(@toolbar-background, 20%);
  padding:5px 0 5px;
  color: @toolbar-color;
  .uk-subnav > li > a{color: @toolbar-link-color;}
  .uk-subnav > li:hover > a{color: lighten(@toolbar-link-color, 20%);}


  .uk-container{
    padding: 0;}
}



