//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@base-body-background:                          @global-background;
@base-body-font-size:                           @global-font-size;
@base-body-line-height:                         @global-line-height;
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-hover-color:                         @global-link-hover-color;
@base-ins-color:                                @global-color;
@base-mark-color:                               @global-color;

@base-margin-vertical:                          @global-margin;

@base-heading-color:                            @global-color;
@base-heading-margin-top:                       @global-margin-large;
@base-h1-font-size:                             round((@global-font-size * 2.6)); // 36px / 42px
@base-h1-line-height:                           round((@base-h1-font-size * 1.154)); // 42px / 48px
@base-h2-font-size:                             round((@global-font-size * 1.74)); // 24px / 28px
@base-h2-line-height:                           round((@base-h2-font-size * 1.27)); // 30px / 36px
@base-h3-font-size:                             round((@global-font-size * 1.28)); // 18px / 20px
@base-h3-line-height:                           round((@base-h3-font-size * 1.32)); // 24px / 26px
@base-h4-font-size:                             round((@global-font-size * 1.14)); // 16px / 18px
@base-h4-line-height:                           round((@base-h4-font-size * 1.36)); // 22px / 24px
@base-h5-font-size:                             @global-font-size; // 14px / 16px
@base-h5-line-height:                           @global-line-height; // 20px / 22px
@base-h6-font-size:                             round((@global-font-size * 0.85)); // 12px / 14px
@base-h6-line-height:                           round((@base-h6-font-size * 1.46)); // 18px / 20px

@base-hr-border:                                @global-border;

@base-blockquote-border:                        @global-border;
@base-blockquote-font-size:                     round((@global-font-size * 1.14)); // 16px / 18px
@base-blockquote-line-height:                   round((@base-blockquote-font-size * 1.36)); // 22px / 24px

@base-code-font-size:                           round((@global-font-size * 0.85)); // 12px / 14px

@base-pre-background:                           #fafafa;
@base-pre-color:                                @global-color;
@base-pre-font-size:                            round((@global-font-size * 0.85)); // 12px / 14px
@base-pre-line-height:                          round((@base-pre-font-size * 1.46)); // 18px / 20px

//
// New
//

@base-body-gradient-inner:                      @global-background;
@base-body-gradient-outer:                      @global-background;

@base-code-border:                              @global-border;
@base-code-background:                          #fafafa;
@base-pre-border:                               @global-border;
@base-h1-bottom-border:                         rgba(0,0,0,0.2);

// Body
// ========================================================================

.hook-base-body() {
    background-image: -webkit-radial-gradient(100% 100%, center, @base-body-gradient-inner, @base-body-gradient-outer);
    background-image: radial-gradient(100% 100% at center, @base-body-gradient-inner, @base-body-gradient-outer);
}


// Text-level semantics
// ========================================================================

.hook-base-code() {
    padding: 0 4px;
    border: 1px solid @base-code-border;
    border-radius: 3px;
    background: @base-code-background;
}


// Headings
// ========================================================================
#page-title{
  border-bottom: 1px solid @base-h1-bottom-border!important;
}
.hook-base-h1() {
  margin: 0 0 @base-margin-vertical 0;
  font-size: @base-h1-font-size;
  line-height: @base-h1-line-height;

}

.hook-base-h2() {
  font-size: @base-h2-font-size;
  line-height: @base-h2-line-height;
}

.hook-base-h3() {
  font-size: @base-h3-font-size;
  line-height: @base-h3-line-height;
}

.hook-base-h4() {
  font-size: @base-h4-font-size;
  line-height: @base-h4-line-height;
}

.hook-base-h5() {
  font-size: @base-h5-font-size;
  line-height: @base-h5-line-height;
}

.hook-base-h6() {
  font-size: @base-h6-font-size;
  line-height: @base-h6-line-height;
}


// Preformatted text
// ========================================================================

.hook-base-pre() {
    border: 1px solid @base-pre-border;
    border-radius: 3px;
}


// Miscellaneous
// ========================================================================

.hook-base-misc() {}