//
// Component: Comment
//
// ========================================================================


// Variables
// ========================================================================

@comment-header-margin-bottom:                  @global-margin;

@comment-avatar-margin-right:                   @global-margin;

@comment-title-font-size:                       round((@global-font-size * 1.14)); // 16px / 18px
@comment-title-line-height:                     round((@comment-title-font-size * 1.36)); // 22px / 24px

@comment-meta-color:                            @global-muted-color;
@comment-meta-font-size:                        round((@global-font-size * 0.78)); // 11px / 12px
@comment-meta-line-height:                      round((@comment-meta-font-size * 1.49)); // 16px / 18px

@comment-list-margin-top:                       @global-margin + 10px;

//
// New
//

@comment-padding:                               10px;
@comment-border:                                rgba(0,0,0,0.2);
@comment-background:                            #fafafa;

@comment-primary-border:                        fade(@comment-primary-color, 30%);
@comment-primary-background:                    #ebf7fd;
@comment-primary-color:                         #2d7091;
@comment-primary-text-shadow:                   @global-text-shadow;
@comment-border-radius:                         5px;
@comment-box-shadow:                            1px 1px 10px 0px rgba(50, 50, 50, 0.30);


//overrides ============================================================
#comment{
.form-textarea-wrapper,
.resizable,
.textarea-processed,
  .resizable-textarea{
  //background-color: #000;
    .border-radius(@comment-border-radius);
  }

  .filter-wrapper{
    border: 1px solid @comment-border;
    .border-radius(@comment-border-radius);
  }


}
.comment-form{

  .form-text,
  .form-textarea{
    border: 1px solid @comment-border;
    .border-radius(@comment-border-radius);
  }
 .form-submit{
   border: 1px solid @comment-border;
   .border-radius(@comment-border-radius);
   padding: 5px 10px;
   margin-right: 10px;
 }
  .grippie{
    margin: 0 10px;
    .border-top-left-radius(0);
    .border-top-right-radius(0);
    .border-bottom-left-radius(@comment-border-radius);
    .border-bottom-right-radius(@comment-border-radius);
  }
}

//hooks ==================================================================

// Component
// ========================================================================

.hook-comment() {}


// Sub-object `uk-comment-header`
// ========================================================================

.hook-comment-header() {
    padding: @comment-padding;
    border: 1px solid @comment-border;
    border-radius: @global-border-radius;
    background: @comment-background;
  .box-shadow(@comment-box-shadow);
  .comment-text{
    margin-left: 60px;
  }
}


// Sub-object `uk-comment-avatar`
// ========================================================================

.hook-comment-avatar() {
  .user-picture{
    width: 50px;
  }

}


// Sub-object `uk-comment-title`
// ========================================================================

.hook-comment-title() {
  font-size: 12px;
  .uk-comment-author{
    text-transform: uppercase;
  }

}


// Sub-object `uk-comment-meta`
// ========================================================================

.hook-comment-meta() {}


// Sub-object `uk-comment-body`
// ========================================================================

.hook-comment-body() {
    padding-left: @comment-padding;
    padding-right: @comment-padding;
}


// Sub-object `uk-comment-primary`
// ========================================================================

.hook-comment-primary() {}


// Miscellaneous
// ========================================================================

.hook-comment-misc() {

    .uk-comment-primary .uk-comment-header {
        border-color: @comment-primary-border;
        background-color: @comment-primary-background;
        color: @comment-primary-color;
        text-shadow: 0 1px 0 @comment-primary-text-shadow;
    }

}