//
// Component: Block
//
// ========================================================================


// Variables
// ========================================================================

/*@footer-background: #757575;
@footer-color:            #a5a5a5;
@footer-link-color:       #a5a5a5;
@footer-link-hover-color:       #a5a5a5;*/



@footer-footer-top-gradient-top: #000000;
@footer-footer-top-gradient-bottom: #2b2b2b;

@footer-footer-top-color: #797979;
@footer-footer-top-link-color:       #a5a5a5;
@footer-footer-top-link-hover-color: #7a7a7a;
@footer-footer-top-top-border:            #2b2b2b;
@footer-footer-top-size:           16px;


@footer-footer-middle-gradient-top: #041113;
@footer-footer-middle-gradient-bottom: #26272f;

@footer-footer-middle-top-border: #3e3e3e;
@footer-footer-middle-bottom-border: #3e3e3e;

@footer-footer-heading-color: #cccccc;
@footer-footer-middle-heading-border:         rgba(0,0,0,0.1);
@footer-footer-middle-color: #e7e7e7;
@footer-footer-middle-link-color: #a6a6a6;
@footer-footer-middle-link-hover-color: #98bce0;


@footer-footer-bottom-background: #000;
@footer-footer-bottom-color: #878787;
@footer-footer-bottom-link-color:       #a5a5a5;
@footer-footer-bottom-link-hover-color: #cecece;
@footer-footer-bottom-line-height:           16px;





//
// ========================================================================

.tm-footer{

  ul{
    margin-bottom: 0;
  }

}
.footer-top{
  padding-top: 10px;
  padding-bottom: 6px;
}

.footer-middle,
.footer-bottom{
  padding-top: 7px;
  padding-bottom: 7px;
}
.footer-top{
  #gradient > .vertical(@footer-footer-top-gradient-top, @footer-footer-top-gradient-bottom);
  .content{
    //height: @footer-footer-top-size;
  }
  text-align: center;
  color: @footer-footer-top-color;
  border-top: 1px solid @footer-footer-top-top-border;
  ul{
    height:  @footer-footer-top-size;;
    line-height: @footer-footer-top-size;
    padding-left: 0;
    display: inline-block;
    h2{
      color: @footer-footer-top-color;
    }
    li{
      height:  @footer-footer-top-size;;
      line-height: @footer-footer-top-size;
      padding: 0 20px;
      margin: 0 0 0 -1px;
      display: block;
      float: left;
      border-right: 1px solid @footer-footer-top-color;
      border-left: 1px solid @footer-footer-top-color;
      &.first{
        border-left: none;
        padding--left: 0;
      }
      &.last{
        border-right: none;
        padding-right: 0;
      }
      &:before{
        content:'';
        visibility: hidden!important;
      }
    }
    a{
      line-height: @footer-footer-top-size;
      color:@footer-footer-top-link-color;
      font-size: @footer-footer-top-size;
      &:hover, &:active{
        color: @footer-footer-top-link-hover-color;
      }
    }

  }


}


.footer-middle{
  #gradient > .vertical(@footer-footer-middle-gradient-top, @footer-footer-middle-gradient-bottom);
  //text-align: center;
  color: @footer-footer-middle-color;
  border-top: 1px solid @footer-footer-middle-top-border;
  border-bottom: 1px solid @footer-footer-middle-bottom-border;
  h3{
    color: @footer-footer-heading-color;
    display: block;
    border-bottom: 1px solid  @footer-footer-middle-heading-border;
    margin-bottom: 5px!important;
  }

  ul{
    padding-left: 0;
    //display: inline-block;
    h2{
      color: @footer-footer-middle-color;
    }
    a{
      color:@footer-footer-middle-link-color;
      &:hover, &:active{
        color: @footer-footer-middle-link-hover-color;
      }
    }
  }
  li{
    line-height: 1.2em;
    //display: block;
    //float: left;
  }
  a{
    color:@footer-footer-middle-link-color;
    &:hover, &:active{
      color: @footer-footer-middle-link-hover-color;
    }
  }
  ul,
  ul.menu{
    line-height: 1.2em;
    margin: 0;

    padding: 0;
    li{
      margin: 0!important;
      list-style: none;
    }
    li.first:before,
    li.leaf:before,
    li.last:before
    {
      margin: 0!important;
      content: '';
    }

    li.collapsed:before{
      margin: 0!important;
      content: '';
    }

  }
  .style-switcher, .style-default, .styleswitcher-processed, .active{
    color: @footer-footer-top-link-color!important;
  }
}
.footer-bottom{
  background-color: @footer-footer-bottom-background;
  text-align: center;
  color: @footer-footer-bottom-color;
  .content{
    height: @footer-footer-bottom-line-height;
  }
  text-align: center;
  color: @footer-footer-bottom-color;
  ul{
    height:  @footer-footer-bottom-line-height;;
    line-height: @footer-footer-bottom-line-height;
    padding-left: 0;
    display: inline-block;
    h2{
      color: @footer-footer-bottom-color;
    }
    li{
      height:  @footer-footer-bottom-line-height;;
      line-height: @footer-footer-bottom-line-height;
      padding: 0 20px;
      margin: 0 0 0 -1px;
      display: block;
      float: left;
      border-right: 1px solid @footer-footer-bottom-color;
      border-left: 1px solid @footer-footer-bottom-color;
      &.first{
        border-left: none;
        padding--left: 0;
      }
      &.last{
        border-right: none;
        padding-right: 0;
      }
      &:before{
        content:'';
        visibility: hidden!important;
      }
    }
    a{
      line-height: @footer-footer-bottom-line-height;
      color:@footer-footer-bottom-link-color;
      &:hover, &:active{
        color: @footer-footer-bottom-link-hover-color;
      }
    }
  }

  a{
    line-height: @footer-footer-bottom-line-height;
    color:@footer-footer-bottom-link-color;
    &:hover, &:active{
      color: @footer-footer-bottom-link-hover-color;
    }
  }

}

.rs-copyright{
  background-color: @footer-footer-bottom-background;
  padding: 4px 0 4px;

  text-align: center;
  font-size: 12px;
  line-height: 12px;
  a{
    color: lighten(@footer-footer-bottom-color, 15%);
    a.hover{
      color: @footer-footer-bottom-link-hover-color;
    }
  }


}


.rs-branding{
  background-color: @footer-footer-bottom-background;
  padding: 4px 0 8px;

  text-align: center;
  font-size: 10px;
  line-height: 12px;
  a{
    color: lighten(@footer-footer-bottom-background, 15%);
    a.hover{
      color: @footer-footer-bottom-link-hover-color;
    }
  }


}




