
//
// Component: Block
//
// ========================================================================


// Variables
// ========================================================================

@header-background: #ffffff;
@header-color: #838383;
@header-link-color: #acb5cd;


@header-gradient-top: #ffffff;
@header-gradient-bottom: #d9d9d9;

@header-site-name-font-family: "Times New Roman", Times, serif;
@header-site-name-color: #24195A;
@header-site-name-font-size: 35px;
@header-site-name-top-margin: 18px;


//
// ========================================================================
.tm-header{
  #gradient > .vertical(@header-gradient-top, @header-gradient-bottom);
  padding:5px 0 5px;
  color: @header-color;
a{
  color: @header-link-color;
  text-decoration: none;
}

}

// logo and titles
#logo{
  width: auto;
  float: left;

}
.head-title{
  display: block;
  width: auto;
  float: left;
}
.name-and-slogan{
  display: block;
  width: auto;
  float: left;
  font-family: @header-site-name-font-family !important;
  font-size: @header-site-name-font-size;
  margin-top: @header-site-name-top-margin;
  a{
    color: @header-site-name-color;
  }
  font-weight: bold;
  .site-slogan{
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    margin: 0;
    // display: inline-flex;
    //clear: right;
  }

}
.rs-header-flex{
  display: block;
  width: 468px;
  float: right;
 // margin-right:20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: right;
  p{
    margin-bottom: 0;
  }
}
.rs-header{
  display: block;
  width: auto;

}