//
// Component: List
//
// ========================================================================


// Variables
// ========================================================================

@list-line-border:                              @global-border;

@list-striped-background:                       #fafafa;

//
// New
//

@list-striped-border:                           @global-border;


// Modifier: `list-line`
// ========================================================================
li{
  list-style: disc;
}

.hook-list-line() {}


// Modifier: `list-striped`
// ========================================================================

.hook-list-striped() { border-bottom: 1px solid @list-striped-border; }


// Miscellaneous
// ========================================================================

.hook-list-misc() {

    .uk-list-striped > li:first-child { border-top: 1px solid @list-striped-border; }

}