//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================
@navbar-gradient-top:                           #fff;
@navbar-gradient-bottom: #d4d4d4;
@navbar-background:                             @global-default-background;
@navbar-color:                                  @global-color;
@navbar-link-color:                             #333;
@navbar-link-hover-color: #747474;

@navbar-dropdown-background: rgba(243, 243, 243, 0.90);
@navbar-dropdown-border: #cacbd3;
//@navbar-dropdown-border-radius: 0;
@navbar-dropdown-shadow: 2px 2px 10px 0px rgba(36, 36, 36, 0.35);;
@navbar-dropdown-link-color: #747474;
@navbar-dropdown-link-hover-color: #668099;


@navbar-nav-height:                             30px;
@navbar-nav-dropdow-height:                     30px;

@navbar-nav-line-height:                        @navbar-nav-height;
@navbar-nav-color:                              @global-color;
@navbar-nav-font-size:                          @global-font-size;
@navbar-nav-hover-background:                   rgba(0,0,0,0.1);
@navbar-nav-hover-color:                        @global-color;
@navbar-nav-onclick-background:                 @global-default-active-background;
@navbar-nav-onclick-color:                      @global-color;
@navbar-nav-active-background:                  #fafafa;
@navbar-nav-active-color:                       @global-color;

@navbar-brand-font-size:                        round((@global-font-size * 1.28)); // 18px / 20px
@navbar-brand-color:                            @global-color;
@navbar-brand-hover-color:                      @global-color;

@navbar-toggle-font-size:                       round((@global-font-size * 1.28)); // 18px / 20px
@navbar-toggle-color:                           @global-color;
@navbar-toggle-hover-color:                     @global-color;
@navbar-text-transform: none;
//
// New
//

@navbar-border:                                 rgba(0,0,0,0.1);
@navbar-border-bottom:                          rgba(0,0,0,0.3);

@navbar-text-shadow:                            @global-text-shadow;

@navbar-nav-border:                       rgba(0,0,0,0.1);
//@navbar-nav-hover-border:                       rgba(0,0,0,0.1);
//@navbar-nav-hover-border-top:                   rgba(0,0,0,0.1);
//@navbar-nav-onclick-border-top:                 rgba(0,0,0,0.2);

//@navbar-nav-hover-box-shadow:                   rgba(0,0,0,0.2);
//@navbar-nav-onclick-box-shadow:                 rgba(0,0,0,0.1);



.uk-navbar-nav > li > {

}



//hooks ======================================
// Component
// ========================================================================

//
// 1. `background-origin` is needed to prevent the background-image gradients from repeating under the border
//

.hook-navbar() {
  position: relative;
  z-index: 2;
    border: 1px solid @navbar-border;
   // border-bottom-color: @navbar-border-bottom;
    //border-radius: @global-border-radius;
    background-origin: border-box; // 1
 #gradient > .vertical(@navbar-gradient-top, @navbar-gradient-bottom);
.uk-container{
  position: relative;
}
}


// Sub-object: `uk-navbar-nav`
// ========================================================================

//
// 1. Overlap top border
// 2. Collapse horizontal borders
//

.hook-navbar-nav() {
    margin-top: -1px; // 1
    margin-left: -1px; // 2
    border-right: 1px solid @navbar-nav-border;
    border-left: 1px solid @navbar-nav-border;
  text-transform: @navbar-text-transform;
   // border-bottom-width: 0;
    text-shadow: 0 1px 0 @navbar-text-shadow;
}

//
// Needed for hover
// 1. Create position context to superimpose the successor elements border
// 2. Needed because the `li` elements have already a position context
//

// Hover
.hook-navbar-nav-hover() {
    position: relative; // 1
    z-index: 1; // 2
  background-color: @navbar-nav-hover-background;
 // border-color: @navbar-nav-border;
  //  border-top-color: @navbar-nav-border;
 //box-shadow: inset 0 2px 4px @navbar-nav-hover-box-shadow;
}

ul#rs-nav{
  margin-bottom: 0!important;
}

#rs-nav {
ul{
  padding: 3px;


}
  & > li {

    float: left;
    z-index: 82;
    border-right: 1px solid @navbar-nav-border;
    border-left: 1px solid @navbar-nav-border;
    &.first{
      border-left: none;
    }
    &.last{
      border-right: none;
    }
    &:hover {
      background-color: @navbar-nav-hover-background;
      .submenu {
        display: block;
        li {
          &:hover {
            & > .submenu {
              display: block;
              z-index: 70 !important;
            }
          }
        }
      }
      & > .submenu {
        .submenu {
          display: none;
        }
      }
    }
    & > .submenu {
      & > .padding {
        width: 160%;
        left: -30%;
        height: 140%;
      }
    }
    &:first-child {
      border-left: 0 !important;
    }
  }
  a {
    display: block;
    line-height: @navbar-nav-height;
    padding: 0 0.3em;
    z-index: 82;
    position: relative;
    color: @navbar-link-color;
    &:hover {
      color: @navbar-link-hover-color;
    }
  }
  .submenu {
    display: none;
    position: absolute;
    z-index: 80;
   background:  darken(@navbar-dropdown-background, 20%);
    //#gradient > .vertical(darken(@navbar-dropdown-background, 20%), @navbar-dropdown-background);
    //border: 1px solid @navbar-dropdown-border;
    left: 0px;
    top: @navbar-nav-height;
    min-width: 100%;
    .box-shadow(@navbar-dropdown-shadow);
    li {
      display: block;
      line-height: @navbar-nav-dropdow-height !important;
      #gradient > .vertical(darken(@navbar-dropdown-background, 10%), @navbar-dropdown-background);
      &:hover {
        background: #444 repeat-x top left;
      }
    }
    a {
      display: block;
      line-height: @navbar-nav-dropdow-height !important;
      white-space: nowrap;
      color:@navbar-dropdown-link-color ;
    }
    .submenu {
      position: absolute;
      left: 100%;
      top: -1px;
      .padding {
        width: 150%;
        top: -35%;
        height: 170%;
      }
    }
  }
  .padding {
    display: block;
    position: absolute;
    z-index: 78;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: none !important;
  }
  .buffer {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 100%;
    width: 100%;
    height: 100%;
    background: none !important;
  }
  .shadow {
    display: none !important;
  }
  &.use-trans {
    li {padding: 0 10px;
      & > .submenu {

        opacity: 0;
        display: block !important;
        left: -9999px !important;
        -moz-transition: 0.3s opacity ease-in, 0s left linear 1s;
        -webkit-transition: 0.3s opacity ease-in, 0s left linear 1s;
        -khtml-transition: 0.3s opacity ease-in, 0s left linear 1s;
        -icab-transition: 0.3s opacity ease-in, 0s left linear 1s;
        -ms-transition: 0.3s opacity ease-in, 0s left linear 1s;
        -o-transition: 0.3s opacity ease-in, 0s left linear 1s;
        transition: 0.3s opacity ease-in, 0s left linear 1s;
      }
    }
    & > li {
      &:hover {
        & > .submenu {
          left: 0px !important;
          .submenu {
            display: block !important;
            left: -9999px !important;
          }
        }
      }
      & > .submenu {
        li {
          &:hover {
            & > .submenu {
              left: 100% !important;
            }
          }
        }
      }
    }
  }
  ul {
    margin-bottom: 0!important;
    a {
      position: relative;
      span {
        background-color: #5a5a5a;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        width: 100%;
      }
    }
  }
}
#rs-nav, #rs-nav li {
  display: block;
  list-style: none;
  position: relative;
  z-index: 82;
}
#rs-nav.use-trans > li:hover > .submenu,
#rs-nav.use-trans > li > .submenu li:hover > .submenu {
  opacity: 1 !important;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -khtml-transition-delay: 0s;
  -icab-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.padding {
  outline-color: red;
}
.buffer {
  outline-color: blue;
}
.showbounds .padding,
.showbounds .buffer {
  outline-style: solid;
  outline-width: 1px;
}


