//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

@offcanvas-z-index:                             @global-z-index;

//
// New
//

@offcanvas-panel-text-shadow:                   rgba(0,0,0,0.5);


// Component
// ========================================================================

.hook-offcanvas() {}


// Sub-object `uk-offcanvas-bar`
// ========================================================================

.hook-offcanvas-bar() {}


// Panel in offcanvas
// ========================================================================

.hook-offcanvas-panel() {
    text-shadow: 0 1px 0 @offcanvas-panel-text-shadow;
}


// Miscellaneous
// ========================================================================

.uk-navbar-toggle {
 margin: 10px 0 0!important;
  float: right!important;
  font-size: 30px;

}
/*.uk-visible-small{
  font-size: 30px;
  //width: 100%;
  margin: 0 auto!important;
}*/

.hook-offcanvas-misc() {

    .uk-offcanvas-bar:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background: rgba(0,0,0,0.6);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    }

    .uk-offcanvas-bar-flip:after {
        right: auto;
        left: 0;
        width: 1px;
        background: rgba(0,0,0,0.6);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    }
    
}


// for mobile ==========================

#rs-offcanvas{
  ul#submenu {
    padding: 0!important;
    margin-bottom: 0;

      a {
        color: #afafaf;
        text-decoration: none;

        &:hover {
          color: #666;
        }
      }
      li {
        display: block;
        float: none;
        width: 100%;
        border-bottom: 1px solid #515151 !important;
        padding: 5px!important;
        &:hover{
          background-color: #717171;
        }

        .submenu {
          display: block;
          position: relative;
          opacity: 1;
          visibility: visible;
          li {
            display: block;
            position: relative;
            opacity: 1;
            visibility: visible;
            float: none;
            width: 100%;
            margin: 3px 3px 3px 20px;
            border: 1px solid #4c4c4c;
            a {
              color: #999;
              &:hover {
                color: #666;
              }
            }
          }
        }

      }

  }
}
.offcanvas-search{
  padding: 10px;
  background-color: #515151;
  text-align: center;
}