//
// Component: Panel
//
// ========================================================================


// Variables
// ========================================================================


@panel-box-padding:                             @global-margin;
@panel-box-background:                          #fafafa;
@panel-box-color:                               #444;
@panel-box-title-color:                         #444;
@panel-box-teaser-margin:                       -(@panel-box-padding + 1);
@panel-box-margin:                             @global-margin;

@panel-box-primary-background:                  #ebf7fd;
@panel-box-primary-color:                       #2d7091;
@panel-box-primary-hover-color:                 @panel-box-primary-color;
@panel-box-primary-title-color:                 #2d7091;

@panel-box-secondary-background: #218089;
@panel-box-secondary-color: #ececec;
@panel-box-secondary-link-color: #b7b7b7;

@panel-hover-padding:                           @global-margin;
@panel-hover-color:                             @global-color;
@panel-hover-hover-color:                       @global-color;
@panel-hover-hover-background:                  #fafafa;
@panel-hover-teaser-margin:                     -(@panel-hover-padding + 1);

@panel-header-title-border:                     @global-border;
@panel-header-title-color:                      @global-color;

@panel-divider-gutter:                          @global-grid-gutter;
@panel-divider-gutter-large:                    @global-grid-gutter-large;
@panel-divider-border:                          @global-border;

//
// New
//

@panel-box-border:                              @global-border;
@panel-box-primary-border:                      fade(@panel-box-primary-color, 30%);
@panel-hover-border:                            @global-border;

@panel-title-margin-bottom:                     @global-margin;
@panel-title-font-size:                         round((@global-font-size * 1.28)); // 18px / 20px
@panel-title-line-height:                       round((@panel-title-font-size * 1.32)); // 24px / 26px
@panel-title-color:                             @global-color;
@panel-title-background:                        rgba(0,0,0,0.0);
@panel-title-border:                            rgba(0,0,0,0.3);
@panel-title-bottom-padding: 5px;


// Sub-object: `uk-panel-title`
// ========================================================================

.uk-panel{
  margin-bottom: @panel-box-margin!important;
}

.hook-panel-title() {
  border-bottom: 1px solid @panel-title-border;
  padding-bottom: @panel-title-bottom-padding;
  background-color: @panel-title-background;
div.contextual-links-wrapper{
  height: 20px;
}
}


// Sub-object: `uk-panel-badge`
// ========================================================================

.hook-panel-badge() {}


// Modifier: `uk-panel-box`
// ========================================================================

.hook-panel-box() {
    border: 1px solid @panel-box-border;
    .border-radius(@global-border-radius);
  .box-shadow(@global-box-shadow);
}
.uk-panel-blank{
  margin-bottom: 0!important;
}
.hook-panel-box-hover() {}

.hook-panel-box-primary() { border-color: @panel-box-primary-border; }

.hook-panel-box-primary-hover() {}

.hook-panel-box-secondary() {
  color: @panel-box-secondary-color;
  a{
    color: @panel-box-secondary-link-color;
  }
}

.hook-panel-box-secondary-hover() {}


// Modifier: `uk-panel-hover`
// ========================================================================

.hook-panel-hover() {
    border: 1px solid transparent;
    border-radius: @global-border-radius;
}

.hook-panel-hover-hover() { border-color: @panel-hover-border; }


// Modifier: `uk-panel-header`
// ========================================================================

.hook-panel-header() {}


// Miscellaneous
// ========================================================================

.hook-panel-misc() {

    .uk-panel-box .uk-panel-teaser {
        border-top-left-radius: @global-border-radius;
        border-top-right-radius: @global-border-radius;
        overflow: hidden;
        // Fixed `overflow: hidden` to be ignored with border-radius and CSS transforms in Webkit
        -webkit-transform: translateZ(0);
    }

}