
@parallax-color: #ffffff;
@parallax-wrap-background-color: rgba(0,0,0,0.60);
@parallax-heading-font-size: 34px;
@parallax-font-size: 14px;

//=============================================


.uk-parallax{
  color: @parallax-color;
  font-size: @parallax-font-size;
h1{
  width: auto;
  display: inline-block;
  font-size: @parallax-heading-font-size;
  line-height: @parallax-heading-font-size;
  margin: 0;
  color: @parallax-color;
  clear: both;

}
  a{
    text-decoration: none;color: @parallax-color;
  }
  .wrap{
    background: @parallax-wrap-background-color;
    .border-radius(5px);
    padding: 5px 10px;
  }
  .uk-button{
    padding: 5px 20px;
  }
}