

.footer-bottom{
  background-color: @footer-footer-bottom-background;
  text-align: center;
  color: @footer-footer-bottom-color;
  ul{
    padding-left: 0;
    display: inline-block;
    h2{
      color: @footer-footer-bottom-color;
    }
  }
  li{
    display: block;
    float: left;
  }
  a{
    color:@footer-footer-bottom-link-color;
    &hover{
      color: @footer-footer-bottom-link-hover-color;
    }
  }
}


