@content_container-background: #fff;
@content_container-border: #eee;
@content_container-shadow: none;
@content_container-radius: @global-border-radius;
@content_container-padding: 20px;

@global-boxed-layouts-background: #fff;
//================================================
.uk-page-top,
.uk-page-bottom,
.tm-footer,
.uk-content,
.rs-content-container{
  margin-top: @grid-gutter-horizontal;
}

.uk-content{

  .meta {
    font-size: 0.80em;
    color: #68696b;
    margin-bottom: 10px;
    .user-picture{
      img{
        float: left;
        height: 20px;
        margin: 1px 5px 0 0;
      }
    }
  }
  .link-wrapper{
    text-align: right;
    font-size: 0.90em;
  }

}


.mainmenu{
  width: auto;

}
.menu-left{
  float: left;
}
.menu-right{
  float: right;
}
.menu-center{
  display: inline-block;
}
.header-right{
  height: 70px;
}
.header-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 // height: 70px;
}.header-flex-middle {
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
  // height: 70px;
 }

.rs-container{
  .box-shadow(0px 1px 20px 0px rgba(0, 0, 0, 0.30));
  background-color: @global-boxed-layouts-background;
}
.rs-paddind{
  padding: 0 20px;
}

.rs-content-container{
  background-color: @content_container-background;
  border: 1px solid @content_container-border;
  padding: 0 @content_container-padding @content_container-padding;
  .border-radius(@content_container-radius);
  .box-shadow(@content_container-shadow);
}