//
// Component: Block
//
// ========================================================================


// Variables
// ========================================================================

@toolbar-background: #000;
@toolbar-color:            #a5a5a5;
@toolbar-height: 20px;
@toolbar-gradient-top: #000;
@toolbar-gradient-bottom: #404040;
@toolbar-border: #9d9d9d;
//
// ========================================================================

.tm-toolbar{
  ul{
    margin: 0;
  }
  li{
    display: block;
    width: auto;
    float: left;
    margin-left: 5px;
    height: @toolbar-height;
    line-height: @toolbar-height;
  }
  i{
    float: none;
    margin: 0 5px;
    color: @toolbar-color;
  }
  //#gradient > .vertical(lighten(@toolbar-background, 20%), @toolbar-background);
  #gradient > .vertical(@toolbar-gradient-top, @toolbar-gradient-bottom);
  border-bottom: solid 1px @toolbar-border;
  padding:5px 0 5px;
  color: @toolbar-color;
  .uk-subnav > li > a{color: @toolbar-color;}
  .uk-subnav > li:hover > a{color: lighten(@toolbar-color, 20%);}
a{
  color: @toolbar-color;

}
  a.hover{
    color: darken(@toolbar-color, 20%);
    text-decoration: underline;
  }
  .uk-container{
    padding-top: 0;
    padding-bottom:0;}
}


