// UIkit
// ========================================================================

@import "../../src/less/uikit.less";


// Theme
// ========================================================================

// LESS related
@import "variables.less";

// Defaults
@import "base.less";

// Added to Defaults

@import "theme.less";
@import "toolbar.less";
@import "header.less";
@import "footer.less";
@import "parallax.less";
@import "mixins.less";

// Layout
@import "grid.less";
@import "panel.less";
@import "block.less";
@import "article.less";
@import "comment.less";

// Navs
@import "nav.less";
@import "navbar.less";
@import "subnav.less";
@import "breadcrumb.less";
@import "pagination.less";
@import "tab.less";
@import "thumbnav.less";

// Elements
@import "list.less";
@import "description-list.less";
@import "table.less";
@import "form.less";

// Common
@import "button.less";
@import "icon.less";
@import "close.less";
@import "badge.less";
@import "alert.less";
@import "thumbnail.less";
@import "overlay.less";

// JavaScript
@import "dropdown.less";
@import "modal.less";
@import "offcanvas.less";

// Need to be loaded last
@import "text.less";
@import "utility.less";
@import "contrast.less";

//overrides ========================

.uk-search{
  float: right!important;
  line-height: @navbar-nav-height;
  margin-left: 20px;
  margin-right: @base-margin-vertical;
  //position: absolute;
  //right: 0;
}